* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 18px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 890px;
  }
}

body {
  color: #262626;
  font-family: 'PT Sans', sans-serif;
}

.logo {
  font: 700 36px/36px 'Cormorant Infant', serif;
}

.subtitle {
  font: 300 italic 16px/24px 'Cormorant Infant', serif;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  text-decoration: none;
  color: #ccc;
}

.social__link:hover {
  color: #48974c;
}

.menu__item {
  color: #262626;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item:hover {
  color: #48974c;
}

.menu__item_active {
  color: #48974c;
}

.button {
  display: inline-block;
  width: 157px;
  height: 56px;
  padding: 20px;
  border: 1px solid #48974c;
  color: #48974c;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font: 600 14px/14px 'PT Sans', sans-serif;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.button:hover {
  width: 167px;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

.button-solid {
  background-color: #48974c;
  color: #fff;
}

.main {
  background: url(../img/bg-main.png) repeat, #f8f8f8;
  padding-bottom: 67px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

@media (max-width: 1024px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  padding-top: 35px;
  color: #262626;
}

.header-top {
  text-align: center;
}

.header-top__subtitle {
  margin-top: 12px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 16px/24px 'PT Sans', sans-serif;
  margin-top: 35px;
  border-top: 1px solid #e6e6e6;
  padding: 25px 0 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 860px) {
  .header {
    padding-top: 10px;
  }
  .header-menu {
    margin-top: 20px;
    padding: 15px 0;
  }
}

@media (max-width: 820px) {
  .header-menu {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .header-menu {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-top: 0;
    padding: 0;
  }
  .header-menu__item {
    border: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    width: 100%;
    margin-top: -1px;
    padding: 5px;
    background-color: #efefef;
  }
  .header-top__title {
    font-size: 26px;
  }
  .header-top__subtitle {
    font-size: 14px;
    margin-top: 0px;
  }
}

@media (min-width: 701px) {
  .header-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.icon {
  display: none;
}

.flexbox-none {
  display: none;
}

.flexbox {
  display: block;
}

@media (max-width: 700px) {
  .mobile-wrap {
    margin: auto;
    height: 50px;
    min-width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .nav-wrap {
    position: relative;
  }
  .nav-wrap #navLinks {
    z-index: 1;
    display: none;
    padding-top: 44px;
    position: relative;
    -webkit-box-shadow: 1px 6px 10px 2px rgba(117, 110, 117, 0.6);
            box-shadow: 1px 6px 10px 2px rgba(117, 110, 117, 0.6);
  }
  .nav-wrap a {
    display: block;
  }
  .nav-wrap a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 10px;
    z-index: 2;
    background-color: #fff;
  }
  .head-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider {
  position: relative;
}

.slider-hero {
  height: 579px;
  padding-top: 80px;
}

.slider-hero__slide-first {
  background: url(../img/slider-bg/bgfirst.jpg) no-repeat center;
  background-size: cover;
}

.slider-hero__slide-second {
  background: url(../img/slider-bg/bgsecond.jpg) no-repeat center;
  background-size: cover;
}

.slider-outer {
  position: absolute;
  top: 13%;
  padding-right: 18px;
}

.slider-message {
  color: #404040;
  width: 552px;
  height: 356px;
  background-color: #fcfcfd;
  padding: 40px;
}

.slider-message__title {
  font: 700 60px/60px 'Cormorant Infant', serif;
}

.slider-message__text {
  padding-top: 21px;
  font: 18px/28px 'PT Sans', sans-serif;
}

.slider-message__text_hover {
  display: none;
}

.slider-message:hover .slider-message__text_replacement {
  display: none;
  cursor: pointer;
}

.slider-message:hover .slider-message__text_hover {
  display: block;
  cursor: pointer;
}

.slider-control-block {
  margin-top: 31px;
  margin-left: 41px;
}

.slider-control-block__dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 3px;
  background-color: #cbc7c7;
  border-radius: 50%;
  display: inline-block;
  opacity: .8;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active__dot {
  background-color: #fff;
  opacity: 1;
}

@media (max-width: 1024px) {
  .slider-message {
    width: 50%;
    height: 100%;
    padding: 25px 30px;
  }
  .slider-message__title {
    font-size: 38px;
    line-height: 48px;
  }
  .slider-message__text {
    padding-top: 11px;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 700px) {
  .slider-message {
    width: 50%;
    padding: 10px 20px;
  }
  .slider-message__title {
    font-size: 32px;
    line-height: 42px;
  }
  .slider-message__text {
    padding-top: 11px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 500px) {
  .slider-control-block {
    display: none;
  }
}

@media (max-width: 400px) {
  .slider-hero {
    padding-top: 10px;
  }
  .slider-outer {
    top: 6%;
  }
  .slider-message {
    width: 100%;
    height: 100%;
    padding: 8px 15px;
    text-align: center;
  }
  .slider-message__title {
    font-size: 27px;
    line-height: 30px;
  }
  .slider-message__text {
    padding-top: 11px;
    line-height: 22px;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.articles-early {
  margin-left: 24px;
}

.article {
  max-width: 552px;
  padding: 24px 25px;
  background-color: #fff;
  margin-bottom: 30px;
}

.article-image {
  max-width: 502px;
  max-height: 321px;
  overflow: hidden;
}

.article-image-adaptive {
  display: block;
  max-width: 100%;
  height: auto;
}

.article-date {
  margin-top: 18px;
  color: #a6a6a6;
  font: 14px/26px 'PT Sans', sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-left: 24px;
}

.article-date::before {
  content: url(../img/articles/calendar.png);
  position: absolute;
  left: 0;
  bottom: -2px;
}

.article-title {
  margin-top: 13px;
  color: #262626;
  font: 600 italic 30px/24px 'Cormorant Infant', serif;
}

.article-text {
  margin-top: 10px;
  height: 150px;
  overflow: hidden;
  color: #737373;
  font: 16px/26px 'PT Sans', sans-serif;
}

.article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.article-social {
  width: 170px;
}

.article-social__link {
  font-size: 18px;
}

@media (min-width: 881px) and (max-width: 1024px) {
  .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .articles-early {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
  }
  .article {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (min-width: 1025px) and (max-width: 1190px) {
  .articles {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 4px;
  }
}

@media (min-width: 1025px) and (max-width: 1127px) {
  .articles {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media (min-width: 1025px) and (max-width: 1110px) {
  .articles {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}

@media (min-width: 1025px) and (max-width: 1088px) {
  .articles {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
}

@media (min-width: 1025px) and (max-width: 1051px) {
  .articles {
    -ms-flex-preferred-size: 41%;
        flex-basis: 41%;
  }
}

@media (max-width: 881px) {
  .articles {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .articles-early {
    width: 100%;
    margin-left: 0;
  }
  .article-more {
    width: 140px;
    font-size: 14px;
  }
  .article-social {
    width: 150px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .article-social__link {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .article {
    padding: 9px;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-preview {
  padding: 25px;
  background-color: #fff;
  width: 275px;
  height: 354px;
  margin: 0 1px 1px 0;
}

.news-preview__images {
  width: 226px;
  height: 150px;
  overflow: hidden;
}

.news-preview__title {
  margin-top: 13px;
  color: #262626;
  font: 600 italic 24px/26px 'Cormorant Infant', serif;
}

.news-preview__text {
  margin-top: 10px;
  color: #737373;
  font: 16px/26px 'PT Sans', sans-serif;
}

.news-preview__more {
  margin-top: 8px;
  padding-left: 10px;
  color: #48974c;
  font: bold 12px/24px 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.news-preview__more:hover {
  color: #28bc11;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.news-preview__more::before {
  content: url(../img/news/mr.png);
  position: relative;
  right: 10px;
  top: 4px;
}

.news-pagination {
  margin-top: 22px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.news-pagination__item {
  font: 16px/56px 'PT Sans', sans-serif;
  text-decoration: none;
  color: #262626;
  text-align: center;
  margin: 0 5px;
}

.news-pagination__page {
  background-color: #fff;
  width: 56px;
  border: 1px solid transparent;
}

.news-pagination__page:hover {
  border: 1px solid #449653;
}

.news-pagination__page_active {
  color: #ffffff;
  background-color: #449653;
}

.news-pagination__prev {
  margin-left: 0;
  margin-right: 16px;
}

.news-pagination__next {
  margin-left: 16px;
  margin-right: 0;
}

@media (max-width: 1024px) {
  .news {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  .news-pagination {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1190px) {
  .news {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .news-pagination {
    margin-right: 69px;
  }
}

@media (max-width: 450px) {
  .news-pagination {
    margin-top: 20px;
    height: 56px;
  }
  .news-pagination__item {
    line-height: 46px;
    margin: 0 4px;
  }
  .news-pagination__page {
    width: 46px;
  }
  .news-pagination__prev {
    margin-right: 20px;
  }
  .news-pagination__next {
    margin-left: 20px;
  }
}

@media (max-width: 370px) {
  .news-pagination {
    margin-top: 20px;
    height: 36px;
  }
  .news-pagination__item {
    line-height: 36px;
    margin: 0 7px;
  }
  .news-pagination__page {
    width: 36px;
  }
  .news-pagination__prev {
    margin-right: 20px;
  }
  .news-pagination__next {
    margin-left: 20px;
  }
}

@media (max-width: 350px) {
  .news-pagination {
    height: 28px;
  }
  .news-pagination__item {
    font-size: 12px;
    line-height: 28px;
    margin: 0 6px;
  }
  .news-pagination__page {
    width: 28px;
  }
  .news-pagination__prev {
    margin-right: 15px;
  }
  .news-pagination__next {
    margin-left: 15px;
  }
}

.building {
  margin-top: 70px;
  height: 560px;
  background: url(../img/building/building-church.jpg) no-repeat center;
  background-size: cover;
}

.building-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 434px;
}

.building-wrap__detail {
  color: #262626;
  padding: 15px 20px;
  width: 212px;
  background: #fff;
  font: 18px/24px 'PT Sans', sans-serif;
}

@media (max-width: 768px) {
  .building {
    margin-top: 20px;
  }
}

@media (max-width: 370px) {
  .building-wrap__detail {
    padding: 15px 10px;
    width: 145px;
    font-size: 14px;
    line-height: 24px;
  }
  .building-wrap__more {
    width: 140px;
    font-size: 14px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
  height: 261px;
  color: #262626;
  font: 600 italic 24px/26px 'Cormorant Infant', serif;
}

.about-facebook {
  background-color: #fff;
  padding: 30px;
  padding-left: 35px;
  margin-right: 30px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.about-facebook__frame {
  margin-top: 20px;
}

.about__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media (max-width: 820px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-facebook {
    margin-right: 0;
  }
  .about__banner {
    margin-top: 20px;
  }
}

.footer {
  background-color: #404040;
  color: #fff;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 44px 0;
}

.footer-description {
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
}

.footer-description__logo {
  line-height: 44px;
}

.footer-description__subtitle {
  margin-top: 10px;
  max-width: 270px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.footer-menu__item {
  color: #ffffff;
  font-size: 16px;
  line-height: 34px;
}

.footer-social {
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
}

.footer-copyright {
  padding: 17px 0 21px 0;
  border-top: 1px solid #808080;
  color: #808080;
  font: 14px/20px 'PT Sans', sans-serif;
}

@media (max-width: 991px) {
  .footer-top {
    padding: 28px 0;
  }
  .footer-description {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-right: 20px;
  }
  .footer-description__logo {
    font-size: 30px;
  }
  .footer-description__subtitle {
    font-size: 14px;
  }
  .footer-menu {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    margin-right: 20px;
  }
  .footer-menu__item {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .footer-top {
    padding: 5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    text-align: center;
  }
  .footer-description {
    margin-right: 0;
  }
  .footer-description__logo {
    font-size: 20px;
    line-height: 24px;
  }
  .footer-description__subtitle {
    margin: 5px 0;
    max-width: 100%;
  }
  .footer-menu {
    margin-right: 0;
    margin-top: 5px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-menu__item {
    font-size: 9px;
    line-height: 9px;
  }
  .footer-social {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    font-size: 12px;
    line-height: 10px;
  }
  .footer-social__link {
    margin: 15px 25px 10px;
  }
  .footer-copyright {
    padding: 5px 0;
    font-size: 8px;
    line-height: 14px;
  }
}

@media (max-width: 500px) {
  .footer-description {
    margin-right: 0;
  }
  .footer-description__logo {
    font-size: 14px;
    line-height: 16px;
  }
  .footer-description__subtitle {
    font-size: 8px;
  }
  .footer-menu__item {
    font-size: 8px;
  }
}

@media (max-width: 424px) {
  .footer-description {
    margin-right: 0;
  }
  .footer-description__logo {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-description__subtitle {
    font-size: 6px;
    line-height: 12px;
  }
  .footer-menu__item {
    font-size: 7px;
  }
  .footer-social {
    font-size: 10px;
  }
  .footer-social__link {
    margin: 10px 25px 5px;
  }
  .footer-copyright {
    padding: 3px 0;
    font-size: 6px;
    line-height: 10px;
  }
}

@media (max-width: 350px) {
  .footer-menu__item {
    font-size: 6px;
  }
}
/*# sourceMappingURL=style.css.map */