.building
  margin-top: 70px
  height: 560px
  background: url(../img/building/building-church.jpg) no-repeat center
  background-size: cover
  &-wrap
    display: flex
    padding-top: 434px
    &__detail
      color: #262626
      padding: 15px 20px
      width: 212px
      background: #fff
      font: 18px/24px 'PT Sans', sans-serif

@media (max-width: 768px)
  .building
    margin-top: 20px

@media (max-width: 370px)
  .building
    &-wrap
      &__detail
        padding: 15px 10px
        width: 145px
        font-size: 14px
        line-height: 24px 
      &__more
        width: 140px
        font-size: 14px