.footer
  background-color: #404040
  color: #fff
  &-top
    display: flex
    justify-content: space-between
    align-items: baseline
    padding: 44px 0
  &-description
    flex-basis: 490px
    &__logo
      line-height: 44px
    &__subtitle
      margin-top: 10px
      max-width: 270px
  &-menu
    display: flex
    flex-direction: column
    flex-basis: 33%
    &__item
      color: #ffffff
      font-size: 16px
      line-height: 34px
  &-social
    flex-basis: 165px
  &-copyright
    padding: 17px 0 21px 0
    border-top: 1px solid #808080
    color: #808080
    font: 14px/20px 'PT Sans', sans-serif

@media (max-width: 991px)
  .footer
    &-top
      padding: 28px 0
    &-description
      flex-basis: 45%
      margin-right: 20px
      &__logo
        font-size: 30px
      &__subtitle
        font-size: 14px
    &-menu
      flex-shrink: 1
      margin-right: 20px
      &__item
        font-size: 15px

@media (max-width: 700px)
  .footer
    &-top
      padding: 5px 0
      flex-direction: column
      align-items: center
      align-content: flex-start
      text-align: center
    &-description
      margin-right: 0
      &__logo
        font-size: 20px
        line-height: 24px
      &__subtitle
        margin: 5px 0
        max-width: 100%
    &-menu
      margin-right: 0
      margin-top: 5px
      width: 100%
      flex-direction: row
      justify-content: space-between
      &__item
        font-size: 9px
        line-height: 9px
    &-social
      flex-basis: 0
      font-size: 12px
      line-height: 10px
      &__link
        margin: 15px 25px 10px
    &-copyright
      padding: 5px 0
      font-size: 8px
      line-height: 14px

@media (max-width: 500px)
  .footer
    &-description
      margin-right: 0
      &__logo
        font-size: 14px
        line-height: 16px
      &__subtitle
        font-size: 8px
    &-menu
      &__item
        font-size: 8px

@media (max-width: 424px)
  .footer
    &-description
      margin-right: 0
      &__logo
        font-size: 12px
        line-height: 16px
      &__subtitle
        font-size: 6px
        line-height: 12px
    &-menu
      &__item
        font-size: 7px
    &-social
      font-size: 10px
      &__link
        margin: 10px 25px 5px
    &-copyright
      padding: 3px 0
      font-size: 6px
      line-height: 10px

@media (max-width: 350px)
  .footer
    &-menu
      &__item
        font-size: 6px